* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Comforter', cursive, sans-serif;
}

.navigator {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #064635;
    height: 100px;
}

nav img {
    margin-top: 100px;
}

nav a {
    color:#519259;
    font-size: 30px;
}

.navigator a:hover {
    color: #F0BB62;
}

.navigator ul {
    display:flex;
    list-style-type: none; 
    justify-content: space-evenly;
    align-items: center; 
    width: 100%;
}

.section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-image: url("../imagenes/cabecera/cocinaMedit.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    /*backdrop-filter: grayscale(30%);*/
    height: 500px;  
}

.section1 h1 {
    font-size: 80px;
    color: #F0BB62;
}

.section1 p {
    font-size: 35px;
    color: #519259;
    /*text-shadow: rgb(160, 160, 32);*/
}

.section2 {
    display: flex;
    align-items: center; 
    background-image: url("../imagenes/concepto/fondo_hojas_pizarra.png");
    flex-direction: column;
    justify-content: center; 
    background-repeat: no-repeat;
    width: 500px;
    height: 500px; 
    margin-left: 40%; 
}

.section2_2 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center ;
    justify-content: center;
    align-items: center;
    height: 50%;
    padding: 150px;
    color: #F0BB62;
}



.section3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-around; 
    align-items: normal;
    background-image: url("../imagenes/fotosRest/DietaMed.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /*backdrop-filter: grayscale(30%);*/
    height: 500px; 
    
}

.section4 {
    display: flex;
    background-repeat: no-repeat;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center ;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px; 
    margin-left: 40%; 
    background-image: url("../imagenes/menu/fondoHojas.png");    
}

.section5 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    background-image: url("../imagenes/reserva/corchoVino.jpg");
    background-repeat: no-repeat;
    background-size: cover;    
}

.section6 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
}

.section6_1 {
    display: flex;
    align-items: center; 
    background-image: url("../imagenes/Blog/inauguración/cocinero.jpg");
    flex-direction: column;
    justify-content: center; 
    background-repeat: no-repeat;

    width: 200px;
    height: 500px; 
    margin-left: 40%; 
}

.section6_2 {
    display: flex;
    align-items: center; 
    background-image: url("../imagenes/Blog/Menú_invierno/restaurant.jpg");
    flex-direction: column;
    justify-content: center; 
    background-repeat: no-repeat;
    width: 200px;
    height: 500px; 
    margin-left: 40%; 
}

.section6_3 {
    display: flex;
    align-items: normal; 
    background-image: url("../imagenes/Blog/Nueva_carta/nuevaCarta.jpg");
    flex-direction: column;
    justify-content: center; 
    background-repeat: no-repeat;
    width: 200px;
    height: 427px; 
    margin-left: 40%; 
}

.section7 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-image: url("../imagenes/ven_cuando_quieras/RestBici.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /*backdrop-filter: grayscale(30%);*/
    height: 500px;  
}

.section7 h1 {
    color: #F0BB62;
}

.section7 p {
    color: #F0BB62;
}

legend {
    color: #064635;
    margin-left: 50%;
}

h3  {
    color: #064635;
    margin-left: 45%;
}

h2 {
    color: #F0BB62;
}

li {
    color: rgb(240, 230, 230);
    /*text-shadow: ;*/
}
footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #064635;
    height: 200px;
}